blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
DAWG-Python==0.7.2
docopt==0.6.2
docx2json==0.0.10
docx2python==1.27.1
docx2txt==0.8
idna==2.10
Jinja2==3.0.0
lxml==4.6.3
MarkupSafe==2.0.1
murmurhash==1.0.5
numpy==1.20.3
packaging==20.9
pathy==0.5.2
preshed==3.0.5
pydantic==1.7.4
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==2.4.7
python-docx==0.8.10
requests==2.25.1
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.0.0/ru_core_news_lg-3.0.0-py3-none-any.whl
ru-core-news-md @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.0.0/ru_core_news_md-3.0.0-py3-none-any.whl
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.0.0/ru_core_news_sm-3.0.0-py3-none-any.whl
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
thinc==8.0.3
tqdm==4.60.0
typer==0.3.2
urllib3==1.26.4
wasabi==0.8.2
